# Ignore everything
*
# Allow files and directories
!/package.json
!/tsconfig.json
# Allow build tool
!/lage.config.js
# Allow pnpm
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
# Allow shared
!/shared/lib-msg-queue/src
!/shared/lib-msg-queue/dist

!/shared/lib-base/src
!/shared/lib-base/dist

!/shared/lib-db-client/src
!/shared/lib-db-client/dist

!/shared/lib-db-client/package.json
!/shared/lib-msg-queue/package.json
!/shared/lib-base/package.json

!/shared/lib-msg-queue/tsconfig.json
!/shared/lib-db-client/tsconfig.json

!/shared/lib-base/tsconfig.json
!/shared/lib-msg-queue/tsconfig.build.json
!/shared/lib-base/tsconfig.build.json

!/shared/tsconfig.json
!/shared/package.json

!/packages/backend/tsconfig.app.json
!/packages/backend/apps
!/packages/backend/migrations
!/packages/backend/.eslintrc.json
!/packages/backend/.eslintrc.yml
!/packages/backend/config.ts
!/packages/backend/jest.config.ts
!/packages/backend/nest-cli.json
!/packages/backend/package.json
!/packages/backend/package-lock.json
!/packages/backend/tsconfig.build.json
!/packages/backend/tsconfig.json
!/packages/backend/webpack.config.js
