[submodule "shared/lib-base"]
	path = shared/lib-base
	url = https://github.com/Dennis-Nedry-From-Jurassic-Park/lib-base.git
[submodule "shared/lib-msg-queue"]
	path = shared/lib-msg-queue
	url = https://github.com/Dennis-Nedry-From-Jurassic-Park/lib-msg-queue.git
